<%= form_for(@task) do |f| %>

  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :weight %>
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :column_id %><br />
    <% board = @task.story.board %>
    <% columns_array = board.columns.all.map { |column| [column.title, column.id] } %>
    <%= f.select :column_id, options_for_select(columns_array), :class => 'genForm_dropBox' %>
  </div>  

  <div class="actions">
    <%= f.submit %>
  </div>

  <div class="field">

<% end %>
