<% if notice %>
  <div class="alert alert-success">
    <h4 class="alert-heading">Success!</h4>
    <%= notice %>
  </div>
<%end%>


<p>
  <b>Title:</b>
  <%= @task.title %>
</p>

<p>
  <b>Weight:</b>
  <%= @task.weight %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>


<%= link_to 'Edit', edit_board_story_task_path(@task.story.board, @task.story, @task) %> |
<%= link_to 'Back', "history.back()" %>
