<% if notice %>
  <div class="alert alert-success">
    <h4 class="alert-heading">Success!</h4>
    <%= notice %>
  </div>
<%end%>


<p>
  <b>Title:</b>
  <%= @task.title %>
</p>

<p>
  <b>Weight:</b>
  <%= @task.weight %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Story:</b>
  <%= @task.story.title %>
</p>

<p>
  <b>Column:</b>
  <%= @task.column.title %>
</p>



<%= link_to 'Edit', edit_board_story_task_path(@task.story.board, @task.story, @task) %> |
<%= link_to 'Back', project_board_path(@task.story.board.project, @task.story.board) %> |

<%= link_to '', @task, confirm: 'Are you sure?', method: :delete, :class => 'icon icon-trash' %></h3>
