 <div class="content">

 	<% if notice %>
  <div class="alert alert-success">
    <h4 class="alert-heading">Success!</h4>
    <%= notice %>
  </div>
<%end%>

<p>
  <b>Project ID:</b>
  <%= @project.id %>
</p>
<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Deadline:</b>
  <%= @project.deadline %>
</p>

<p>
  <b>User:</b>
  <%= @project.user.name %>
</p>

<%= link_to 'add Story', addStory_project_path(@project) %> 


</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
