 <div class="content">

 	<% if notice %>
  <div class="alert alert-success">
    <h4 class="alert-heading">Success!</h4>
    <%= notice %>
  </div>
<%end%>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Deadline</th>
    <th>Project Owner</th>
    <th></th>
    <th></th>
  </tr>


  <tr>
    <td><%= @project.title %></td>
    <td><%= @project.description %></td>
    <td><%= @project.deadline %></td>
    <td><%= @project.user.name %></td>
    <td><%= link_to 'Show Board', showBoard_path(@project) %></td>
    <td><% if  @project.user.name==current_user.name %> <%= link_to 'Create Board', createBoard_path(@project) %><% end %></td>
  </tr>
</table>

<br />
</div>

<%= link_to 'Add Story', addStory_path(@project) %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
