 <div class="content">

 	<% if notice %>
  <div class="alert alert-success">
    <h4 class="alert-heading">Success!</h4>
    <%= notice %>
  </div>
<%end%>

<%= link_to 'show current Sprint', project_sprints_path(@project) %>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Deadline</th>
    <th>Project Owner</th>
    <th></th>
    <th></th>
  </tr>


  <tr>
    <td><%= @project.title %></td>
    <td><%= @project.description %></td>
    <td><%= @project.deadline %></td>
    <td><%= @project.user.name %></td>
    <td><%= link_to 'Show Boards', project_boards_path(@project) %></td>
    <td><% if  @project.user.name==current_user.name %> <%= link_to 'New Board', new_project_board_path(@project) %><% end %></td>
  </tr>
</table>

<br />
</div>


<% if  @project.user.name==current_user.name %> <%= link_to 'Start Sprint', new_project_sprint_path(@project) %><% end %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to_function "Back", "history.back()" %>
