<h1 class="central">Listing stories </h1>

<div id="container">
<% @stories.each do |story| %>
<div class="postit schatten draggable ui-widget-content">
<table class="story">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Priority</th>
    <th></th>
  </tr>
  <tr>
    <td class="col1"><%= story.title %></td>
    <td class="col2"><%= story.description %></td>
    <td class="col3"><%= story.priority %></td>
</tr>


</table>

<p>
<%= link_to 'Show', story %>
 <%= link_to 'Edit', edit_story_path(story) %>
 <%= link_to 'Destroy', story, confirm: 'Are you sure?', method: :delete %>
	 <%= link_to 'Up' , stories_priorityup_path(story) %>
</p>
<div class="cleaner"></div>

 <select name="@stories[priority]">
	<%= priorities = Story.count%>
 	<%= priorities.times do |number| %>
		<%= puts "<option></option>"%>
	
	<% end %>
  <option></option>
</select>
</div>
<% end %>

<br />
<div class="central">
<%= link_to 'New Story', new_story_path %>
</div>
</div>