<h1>Listing stories </h1>



<div id="container">
<% @stories.each do |story| %>
<div class="postit schatten draggable ui-widget-content">
<table class="story ">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Priority</th>
    <th></th>
  </tr>
  <tr>
    <td class="col1"><%= story.title %></td>
    <td class="col2"><%= story.description %></td>
    <td class="col3"><%= story.priority %></td>
</tr>


</table>

<p>
<%= link_to 'Show', story %>
 <%= link_to 'Edit', edit_story_path(story) %>
 <%= link_to 'Destroy', story, confirm: 'Are you sure?', method: :delete %>
 <a href="" onclick="alert('Hello world')">Link</a>


</p>
</div>
<% end %>

<br />

<%= link_to 'New Story', new_story_path %>
</div>