<% if notice %>
  <div class="alert alert-success">
    <h4 class="alert-heading">Success!</h4>
    <%= notice %>
  </div>
<%end%>

<p>
  <b>Title:</b>
  <%= @story.title %>
</p>

<p>
  <b>Description:</b>
  <%= @story.description %>
</p>

<p>
  <b>Priority:</b>
  <%= @story.priority %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to_function "Back", project_board_path(@board.project, @board) %>
