 <div class="content">

 <% if notice %>
  <div class="alert alert-success">
    <h4 class="alert-heading">Success!</h4>
    <%= notice %>
  </div>
<%end%>

<h1><%= @board.title %></h1>
<table class="table table-striped">
	<tr>
		<% @board.columns.each do |column| %>

			<th>
				<!-- title of the current board -->
				<%= link_to column.title, board_column_path(@board, column) %>  
				
			</th>

		<% end %>
	</tr>

	<tr>
		<% @board.columns.each do |column| %>

			<td>
				<% if  @project.user.name==current_user.name %> 

					<!-- add stories to this current board -->
					<p><%= link_to 'add Story', new_column_story_path(column) %></p>

				<% end %>
			
				<!-- show all existing stories in this board -->
				<% column.stories.each do |story| %>
					
					<p><%= link_to story.title, column_story_path(column, story) %></p>
					
				<% end %>
			</td>

		<% end %>
	</tr>
</table>

<% if  @project.user.name==current_user.name %> <%= link_to 'New Column', new_board_column_path(@board) %><% end %>

</div>

<%= link_to 'Edit', edit_project_board_path(@board) %> |
<%= link_to_function "Back", "history.back()" %>
