 <div class="content">

 <% if notice %>
  <div class="alert alert-success">
    <h4 class="alert-heading">Success!</h4>
    <%= notice %>
  </div>
<%end%>

		<h1><%= @board.title %></h1>

		<div id="backlog">


				<h2>Backlog</h2>
				<% @board.stories.each do |story| %>

					<p><%= story.name %></p>
				<% end %>


			<% if  @project.user.name==current_user.name %> <%= link_to 'Add Story', new_board_story_path(@board) %><% end %>



		</div>
				
			<div class="scroll-pane ui-widget ui-widget-header ui-corner-all">
				<div class="scroll-content">	
					<div class="board">

	
						<ul class="sortable sortable-columns">
							<!-- show all existing columns of these board -->
							<% @board.columns.each do |column| %>

									<li class="ui-state-default">
									<!-- show all existing stories in this board -->

									<% @column = column %>
									<%= render :partial => "columns/show", :object => @column %>
									<div class="cleaner"></div>
									</li>

							<% end %>
						</ul>

					<div class="cleaner"></div>

					</div> <!-- end board -->
				</div><!-- end scroll-content -->

				<div class="scroll-bar-wrap ui-widget-content ui-corner-bottom">
					<div class="scroll-bar"></div>
				</div> <!-- end scroll-bar-wrap -->

			</div> <!-- end scroll-pane -->

<% if  @project.user.name==current_user.name %> <%= link_to 'New Column', new_board_column_path(@board) %><% end %>

</div>

<%= link_to 'Edit', edit_project_board_path(@board) %> |
<%= link_to_function "Back", "history.back()" %>
