<!DOCTYPE html>
<html>
<head>
  <title>ClearUp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

   <%# %= stylesheet_link_tag    "jquery-ui-1.8.20.custom", :media => "all" %>
  <%= javascript_include_tag "application" %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'jquery-ui' %>
<%= javascript_include_tag 'jrails' %>

<%= javascript_include_tag 'jquery-1.7.2.min.js', 'jquery-ui-1.8.20.custom.min.js', 'scrollable_board.js', 'bootstrap-alert.js' %>

  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>

<style>
	#draggable { width: 150px; height: 150px; padding: 0.5em; }
	</style>
	<script>
	$(function() {
		$( ".draggable" ).draggable();
	});


	$(function() {
		$( "#accordion" ).accordion();
	});

	
	$(function() {
		$( ".sortable" ).sortable();
		$( ".sortable" ).disableSelection();
	});


	$(function() {
		$( ".column" ).sortable({
			connectWith: ".column"
		});

		$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" )
			.find( ".portlet-header" )
				.addClass( "ui-widget-header ui-corner-all" )
				.prepend( "<span class='ui-icon ui-icon-minusthick'></span>")
				.end()
			.find( ".portlet-content" );

		$( ".portlet-header .ui-icon" ).click(function() {
			$( this ).toggleClass( "ui-icon-minusthick" ).toggleClass( "ui-icon-plusthick" );
			$( this ).parents( ".portlet:first" ).find( ".portlet-content" ).toggle();
		});

		$( ".column" ).disableSelection();
	});
	
	</script>

	<style>
	.toggler { width: 500px; height: 200px; }
	#button { padding: .5em 1em; text-decoration: none; }
	#effect { width: 240px; height: 135px; padding: 0.4em; position: relative; }
	#effect h3 { margin: 0; padding: 0.4em; text-align: center; }
	</style>
	<script>
	$(function() {
		// run the currently selected effect
		function runEffect() {
			// get effect type from 
			var selectedEffect = $( "#effectTypes" ).val();
			var selectedEffect = "drop";
			
			// most effect types need no options passed by default
			var options = {};
			// some effects have required parameters
			if ( selectedEffect === "scale" ) {
				options = { percent: 0 };
			} else if ( selectedEffect === "size" ) {
				options = { to: { width: 200, height: 60 } };
			}
			
			// run the effect
			$( "#effect" ).toggle( selectedEffect, options, 500 );
		};
		
		// set effect from select menu value
		$( "#button" ).click(function() {
			runEffect();
			return false;
		});
	});
	</script>
	
</head>
<body>
	<div class="container">
		<div class="navbar">
		  <div class="navbar-inner">
		    <div class="container">

		    	<!-- Be sure to leave the brand out there if you want it shown -->
		      <a class="brand" href="users#index">ClearUp</a>
		 
		 			<ul class="nav">

		 				<% if current_user %>
							  <li><%= link_to 'Show my projects', showMy_project_path %></li>
							  <li><%= link_to 'Join projects', projects_path %></li>
							  <li><%=link_to "Logout", logout_path %><li>
					  	<% else %>
							<li><%=link_to "Register", new_user_path  %></li>
							<li><%=link_to "Login", login_path %></li>
						<% end %>
					</ul>
		      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
		      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">

		      	
		      </a>
		 
		      
		 
		      <!-- Everything you want hidden at 940px or less, place within here -->
		      <div class="nav-collapse">
		        <!-- .nav, .navbar-search, .navbar-form, etc -->
		      </div>
		 
		    </div>
		  </div>
		</div>



<!-- 	 <div id="counter">Sprint: 1 | time: 1 day 10h 53min</div>
 -->
<%= yield %>
</div>
</body>
</html>
