<!DOCTYPE html>
<html>
<head>
  <title>ClearUp</title>
  <%= stylesheet_link_tag    "application", "jquery-ui-1.8.20.custom", :media => "all" %>
  <%= javascript_include_tag "application" %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'jquery-ui' %>
<%= javascript_include_tag 'jrails' %>

<%= javascript_include_tag 'jquery-1.7.2.min.js', 'jquery-ui-1.8.20.custom.min.js'  %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>

<script>
$(document).ready(function() {
   $("a").click(function() {
     alert("Hello world!");
   });
 });
</script>
<style>
	#draggable { width: 150px; height: 150px; padding: 0.5em; }
	</style>
	<script>
	$(function() {
		$( ".draggable" ).draggable();
	});
	</script>
</head>
<body>

<%= yield %>

</body>
</html>
